<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.ureport.mapper.ResultIndMapper">
    <select id="selectResult" resultMap="getResultInd">
        select
            sum(IF(is_active = "活跃" and ac_status_industrial.type = "B204-1", 1, 0))                                                           as active_number_b204,
            sum(IF(is_active = "活跃" and ac_status_industrial.type = "B203", 1, 0))                                                           as active_number_b203,
            sum(IF(is_commit = "已上报" and ac_status_industrial.type = "B204-1", 1, 0))                                                          as commit_number_b204,
            sum(IF(is_commit = "已上报" and ac_status_industrial.type = "B203", 1, 0))                                                          as commit_number_b203,
            (sum(IF(is_commit = "已上报" and ac_status_industrial.type = "B204-1", 1, 0))+(select ac_param_b204.re_hz  from ac_param_b204 limit 1))*100/(select total_hz  from ac_param_b204 limit 1)                                  as commit_rate_b204,
            (sum(IF(is_commit = "已上报" and ac_status_industrial.type = "B203", 1, 0))+(select ac_param_b203.re_hz  from ac_param_b203 limit 1))*100/(select total_hz  from ac_param_b203 limit 1)                                 as commit_rate_b203,
            (select count(distinct zzjgdm)
             from ac_status_industrial where is_active = "活跃" limit 1)*100/count(distinct zzjgdm)                                    as active_rate
        from ac_status_industrial,ac_param_b204,ac_param_b203
        union
        select
            sum(IF(is_active = "活跃" and ac_status_industrial.type = "B204-1", 1, 0))                                                           as active_number_b204,
            sum(IF(is_active = "活跃" and ac_status_industrial.type = "B203", 1, 0))                                                           as active_number_b203,
            sum(IF(is_commit = "已上报" and ac_status_industrial.type = "B204-1", 1, 0))                                                          as commit_number_b204,
            sum(IF(is_commit = "已上报" and ac_status_industrial.type = "B203", 1, 0))                                                          as commit_number_b203,
            (sum(IF(is_commit = "已上报" and ac_status_industrial.type = "B204-1", 1, 0))+(select ac_param_b204.re_wx  from ac_param_b204 limit 1))*100/(select total_wx  from ac_param_b204 limit 1)                                  as commit_rate_b204,
            (sum(IF(is_commit = "已上报" and ac_status_industrial.type = "B203", 1, 0))+(select ac_param_b203.re_wx  from ac_param_b203 limit 1))*100/(select total_wx  from ac_param_b203 limit 1)                                 as commit_rate_b203,
            (select count(distinct zzjgdm)
             from ac_status_industrial where is_active = "活跃" limit 1)*100/count(distinct zzjgdm)                                    as active_rate
        from ac_status_industrial,ac_param_b204,ac_param_b203
        where region_code like "330502%"
        union
        select
            sum(IF(is_active = "活跃" and ac_status_industrial.type = "B204-1", 1, 0))                                                           as active_number_b204,
            sum(IF(is_active = "活跃" and ac_status_industrial.type = "B203", 1, 0))                                                           as active_number_b203,
            sum(IF(is_commit = "已上报" and ac_status_industrial.type = "B204-1", 1, 0))                                                          as commit_number_b204,
            sum(IF(is_commit = "已上报" and ac_status_industrial.type = "B203", 1, 0))                                                          as commit_number_b203,
            (sum(IF(is_commit = "已上报" and ac_status_industrial.type = "B204-1", 1, 0))+(select ac_param_b204.re_nx  from ac_param_b204 limit 1))*100/(select total_wx from ac_param_b204 limit 1)                                  as commit_rate_b204,
            (sum(IF(is_commit = "已上报" and ac_status_industrial.type = "B203", 1, 0))+(select ac_param_b203.re_nx  from ac_param_b203 limit 1))*100/(select total_wx  from ac_param_b203 limit 1)                                 as commit_rate_b203,
            (select count(distinct zzjgdm)
             from ac_status_industrial where is_active = "活跃" limit 1)*100/count(distinct zzjgdm)                                    as active_rate
        from ac_status_industrial,ac_param_b204,ac_param_b203
        where region_code like "330503%"
        union
        select
            sum(IF(is_active = "活跃" and ac_status_industrial.type = "B204-1", 1, 0))                                                           as active_number_b204,
            sum(IF(is_active = "活跃" and ac_status_industrial.type = "B203", 1, 0))                                                           as active_number_b203,
            sum(IF(is_commit = "已上报" and ac_status_industrial.type = "B204-1", 1, 0))                                                          as commit_number_b204,
            sum(IF(is_commit = "已上报" and ac_status_industrial.type = "B203", 1, 0))                                                          as commit_number_b203,
            (sum(IF(is_commit = "已上报" and ac_status_industrial.type = "B204-1", 1, 0))+(select ac_param_b204.re_dq  from ac_param_b204 limit 1))*100/(select total_dq  from ac_param_b204 limit 1)                                  as commit_rate_b204,
            (sum(IF(is_commit = "已上报" and ac_status_industrial.type = "B203", 1, 0))+(select ac_param_b203.re_dq  from ac_param_b203 limit 1))*100/(select total_dq  from ac_param_b203 limit 1)                                 as commit_rate_b203,
            (select count(distinct zzjgdm)
             from ac_status_industrial where is_active = "活跃" limit 1)*100/count(distinct zzjgdm)                                    as active_rate
        from ac_status_industrial,ac_param_b204,ac_param_b203
        where region_code like "330521%"
        union
        select
            sum(IF(is_active = "活跃" and ac_status_industrial.type = "B204-1", 1, 0))                                                           as active_number_b204,
            sum(IF(is_active = "活跃" and ac_status_industrial.type = "B203", 1, 0))                                                           as active_number_b203,
            sum(IF(is_commit = "已上报" and ac_status_industrial.type = "B204-1", 1, 0))                                                          as commit_number_b204,
            sum(IF(is_commit = "已上报" and ac_status_industrial.type = "B203", 1, 0))                                                          as commit_number_b203,
            (sum(IF(is_commit = "已上报" and ac_status_industrial.type = "B204-1", 1, 0))+(select ac_param_b204.re_cx  from ac_param_b204 limit 1))*100/(select total_cx  from ac_param_b204 limit 1)                                  as commit_rate_b204,
            (sum(IF(is_commit = "已上报" and ac_status_industrial.type = "B203", 1, 0))+(select ac_param_b203.re_cx   from ac_param_b203 limit 1))*100/(select total_cx  from ac_param_b203 limit 1)                                 as commit_rate_b203,
            (select count(distinct zzjgdm)
             from ac_status_industrial where is_active = "活跃" limit 1)*100/count(distinct zzjgdm)                                    as active_rate
        from ac_status_industrial,ac_param_b204,ac_param_b203
        where region_code like "330522%"
          and region_code not like "33052211%"
        union
        select
            sum(IF(is_active = "活跃" and ac_status_industrial.type = "B204-1", 1, 0))                                                           as active_number_b204,
            sum(IF(is_active = "活跃" and ac_status_industrial.type = "B203", 1, 0))                                                           as active_number_b203,
            sum(IF(is_commit = "已上报" and ac_status_industrial.type = "B204-1", 1, 0))                                                          as commit_number_b204,
            sum(IF(is_commit = "已上报" and ac_status_industrial.type = "B203", 1, 0))                                                          as commit_number_b203,
            (sum(IF(is_commit = "已上报" and ac_status_industrial.type = "B204-1", 1, 0))+(select ac_param_b204.re_aj  from ac_param_b204 limit 1))*100/(select total_aj  from ac_param_b204 limit 1)                                  as commit_rate_b204,
            (sum(IF(is_commit = "已上报" and ac_status_industrial.type = "B203", 1, 0))+(select ac_param_b203.re_aj  from ac_param_b203 limit 1))*100/(select total_aj  from ac_param_b203 limit 1)                                 as commit_rate_b203,
            (select count(distinct zzjgdm)
             from ac_status_industrial where is_active = "活跃" limit 1)*100/count(distinct zzjgdm)                                    as active_rate
        from ac_status_industrial,ac_param_b204,ac_param_b203
        where region_code like "330523%"
          and region_code not like "33052311%"
        union
        select
            sum(IF(is_active = "活跃" and ac_status_industrial.type = "B204-1", 1, 0))                                                           as active_number_b204,
            sum(IF(is_active = "活跃" and ac_status_industrial.type = "B203", 1, 0))                                                           as active_number_b203,
            sum(IF(is_commit = "已上报" and ac_status_industrial.type = "B204-1", 1, 0))                                                          as commit_number_b204,
            sum(IF(is_commit = "已上报" and ac_status_industrial.type = "B203", 1, 0))                                                          as commit_number_b203,
            (sum(IF(is_commit = "已上报" and ac_status_industrial.type = "B204-1", 1, 0))+(select ac_param_b204.re_nth  from ac_param_b204 limit 1))*100/(select total_nth  from ac_param_b204 limit 1)                                  as commit_rate_b204,
            (sum(IF(is_commit = "已上报" and ac_status_industrial.type = "B203", 1, 0))+(select ac_param_b203.re_nth  from ac_param_b203 limit 1))*100/(select total_nth  from ac_param_b203 limit 1)                                 as commit_rate_b203,
            (select count(distinct zzjgdm)
             from ac_status_industrial where is_active = "活跃" limit 1)*100/count(distinct zzjgdm)                                    as active_rate
        from ac_status_industrial,ac_param_b204,ac_param_b203
        where region_code like "330560%"
        union
        select
            sum(IF(is_active = "活跃" and ac_status_industrial.type = "B204-1", 1, 0))                                                           as active_number_b204,
            sum(IF(is_active = "活跃" and ac_status_industrial.type = "B203", 1, 0))                                                           as active_number_b203,
            sum(IF(is_commit = "已上报" and ac_status_industrial.type = "B204-1", 1, 0))                                                          as commit_number_b204,
            sum(IF(is_commit = "已上报" and ac_status_industrial.type = "B203", 1, 0))                                                          as commit_number_b203,
            (sum(IF(is_commit = "已上报" and ac_status_industrial.type = "B204-1", 1, 0))+(select ac_param_b204.re_ch from ac_param_b204 limit 1))*100/(select total_ch  from ac_param_b204 limit 1)                                  as commit_rate_b204,
            (sum(IF(is_commit = "已上报" and ac_status_industrial.type = "B203", 1, 0))+(select ac_param_b203.re_ch  from ac_param_b203 limit 1))*100/(select total_ch  from ac_param_b203 limit 1)                                 as commit_rate_b203,
            (select count(distinct zzjgdm)
             from ac_status_industrial where is_active = "活跃" limit 1)*100/count(distinct zzjgdm)                                    as active_rate
        from ac_status_industrial,ac_param_b204,ac_param_b203
        where region_code like "33052211%"
           or region_code like "33052311%"






    </select>
    <resultMap id="getResultInd" type="com.hy.ureport.entity.ResultInd">
        <result property="activeNumberB204" column="active_number_b204"/>
        <result property="activeNumberB203" column="active_number_b203"/>
        <result property="commitNumberB204" column="commit_number_b204"/>
        <result property="commitNumberB203" column="commit_number_b203"/>
        <result property="commitRateB204" column="commit_rate_b204"/>
        <result property="commitRateB203" column="commit_rate_b203"/>
        <result property="activeRate" column="active_rate"/>
    </resultMap>


</mapper>
